body {
    background-image: url(../images/w1.jpg);
}
h3 {
    
    margin-bottom: 30px;
    content: 30px;
    padding-bottom: 15px;
    margin-top: 30px;
    padding: 30px;
    font-size: 60px;
    text-align: center;
    color: rgb(219, 210, 210);
    border-top: 95px;
    border-color: rgb(163, 160, 160);
    border: 20px;
    
}
.think {
    color: rgb(192, 185, 185);
    font-size: 25px;
}
hr {
    font-size: 5px;
}
.proj {
    font-size: 50px;
    color: black
}
.project {
    font-size: 25px;
    color: rgb(150, 141, 141);
}
.ms {
    color: rgb(48, 13, 13);
}